/* styles/quiz.module.css */
.quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .quizTitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .questionContainer {
    width: 100%;
    max-width: 400px;
  }
  
  .questionText {
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .optionLabel {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .punishmentText {
    font-size: 16px;
    color: red;
    margin-top: 16px;
  }
  
  .badgeText {
    color: green;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .previousButton,
  .nextButton {
    flex: 1;
    background-color: #ccc;
    color: #000;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .previousButton:hover,
  .nextButton:hover {
    background-color: #000;
    color: #fff;
  }
  /* styles/quiz.module.css */
/* ... (existing styles) */

.optionLabel {
    display: block;
    margin-bottom: 10px;
    font-size: 18px; /* Increase the font size as needed */
  }
  
/* styles/QuestionNavigationBox.module.css */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.centeredImage {
  display: block;
  margin: 0 auto;
}

/* Add to your existing styles in quiz.module.css */
.optionLabel {
  display: block;
  margin: 10px 0;
}

.timer {
  text-align: center;
  margin: 20px 0;
}

.banner {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: 20px;
}


/* Modal styles */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.modalContent {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  max-width: 80%;
  margin: 0 auto;
}

.modalContent h2 {
  color: #333;
}

.modalContent p {
  color: #666;
}

.modalContent a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.modalContent a:hover {
  background-color: #0056b3;
}

.quizContainer {
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Initially centered */
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .quizContainer {
    width: fit-content;

  }
}


.countdownWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.quizContent {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
